<div>
    <div class="cont-espaciado">
        <span>Inscripción de Alumnos</span>
        <span class="espaciado"></span>
        <button mat-raised-button color="primary" type="button">Limpiar</button>
    </div>
    <div>
        <!-- <mat-form-field appearance="fill">
            <mat-label>Alumno:</mat-label>
            <mat-select>
                <mat-option *ngFor="let alumno of alumnos" [value]="alumno.id">
                    {{alumno.nombre + alumno.apellidos}}
                </mat-option>
            </mat-select>
        </mat-form-field> -->
    </div>
</div>